<main class='p-5'>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr class="my-5">

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr class="my-5">

  <div class='text-muted text-end'>
    Додатковий
    <span class='display-6'>текст</span>
  </div>

  <hr class="my-5">

  <div class='card mb-5'>
    <div class='card-body'>
      <a href='#' class='btn btn-primary'>Button primary</a>
    </div>
  </div>
  <div class='card mb-5'>
    <div class='card-body'>
      <div class=''>My text</div>
      <div class='text-dark'>My text</div>
      <div class='text-muted'>My text</div>
    </div>
  </div>
  <div class='card mb-5'>
    <div class='card-body'>
      <button class='btn btn-secondary btn-lg'>Додати</button>
      <button class='btn btn-outline-secondary'>Редагувати</button>
      <button class='btn btn-outline-dark btn-sm'>Видалити</button>
    </div>
  </div>
  <div class='card mb-5'>
    <div class='card-body'>
      This is content
    </div>
  </div>

  {{! Урок (карточки) }}
  <hr class="my-5">
  {{! }}

  <div class='row gy-5'>

    <section class='col-12'>
      <div class='card text-bg-dark'>
        <img class='cadr-img-top'
          src='https://picsum.photos/400/200' alt='Product photo'/>
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Product #16433</h5>
          <p class='text-bg-secondary'>Kingston DataTraveler
            <br />
            Exodia Onyx 64 ГБ USB</p>
          <a href='/summary' class='btn btn-primary'>Open</a>
        </div>
      </div>
    </section>

    <section class='col-3'>
      <div class='card'>
        <div class='card-header'>
          <div>Menu</div>
        </div>

        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link'>Home page</a>
          </li>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link'>Summary page</a>
          </li>
          <li class='list-group-item'>
            <a href='#' class='btn btn-link'>Skills page</a>
          </li>
        </ul>

        <div class='card-footer'>
          <button class='btn btn-dark btn-sm'>Update list</button>
        </div>
      </div>
    </section>

    <section class='col-9'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>
              #id
            </th>
            <th>
              name
            </th>
            <th>
              age
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>1</th>
            <td>Jhon</td>
            <td>35</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class='col-12'>
      <div class='row g-2'>
        <div class='col-3'>
          <div class='card text-bg-success'>
            <div class='card-header text-center'>Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div class='card-footer text-center'>Footer</div>
          </div>
        </div>
        <div class='col-3'>
          <div class='card text-bg-success'>
            <div class='card-header text-center'>Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div class='card-footer text-center'>Footer</div>
          </div>
        </div>
        <div class='col-3'>
          <div class='card text-bg-success'>
            <div class='card-header text-center'>Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div class='card-footer text-center'>Footer</div>
          </div>
        </div>
        <div class='col-3'>
          <div class='card text-bg-success'>
            <div class='card-header text-center'>Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click!</button>
            </div>
            <div class='card-footer text-center'>Footer</div>
          </div>
        </div>
      </div>
    </section>

  </div>

  {{! <div class="card text-bg-primary mt-5">
			<div class="card-header">
				<div>Menu</div>
			</div>
			
			<ul class="list-group list-group-flush"> 
				<li class="list-group-item text-bg-dark">
					<a href="#" class="btn btn-link">Home page</a>
				</li>
				<li class="list-group-item text-bg-warning">
					<a href="#" class="btn btn-link">Summary page</a>
				</li>
				<li class="list-group-item text-bg-danger">
					<a href="#" class="btn btn-link">Skills page</a>
				</li>
			</ul>

			<div class="card-footer mb-5">
				<button class="btn btn-dark btn-sm">Update list</button>
			</div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						#id
					</th>
					<th>
						name
					</th>
					<th>
						age
					</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<th>1</th>
					<td>Jhon</td>
					<td>35</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
				<tr>
					<th>2</th>
					<td>Ivan</td>
					<td>29</td>
				</tr>
			</tbody>
		</table>

		<div class="row gx-5 gy-1 mt-5">
		<div class="col-4">
			<div class="card text-bg-success">
				<div class="card-header text-center">Header</div>
				<div class="card-body text-center">
					<h6 class="card-title">This is title</h6>
					<p>This is content of our box</p>
					<button class="btn btn-light">Click!</button>
				</div>
				<div class="card-footer text-center">Footer</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-bg-success">
				<div class="card-header text-center">Header</div>
				<div class="card-body text-center">
					<h6 class="card-title">This is title</h6>
					<p>This is content of our box</p>
					<button class="btn btn-light">Click!</button>
				</div>
				<div class="card-footer text-center">Footer</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-bg-success">
				<div class="card-header text-center">Header</div>
				<div class="card-body text-center">
					<h6 class="card-title">This is title</h6>
					<p>This is content of our box</p>
					<button class="btn btn-light">Click!</button>
				</div>
				<div class="card-footer text-center">Footer</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-bg-success">
				<div class="card-header text-center">Header</div>
				<div class="card-body text-center">
					<h6 class="card-title">This is title</h6>
					<p>This is content of our box</p>
					<button class="btn btn-light">Click!</button>
				</div>
				<div class="card-footer text-center">Footer</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card text-bg-success">
				<div class="card-header text-center">Header</div>
				<div class="card-body text-center">
					<h6 class="card-title">This is title</h6>
					<p>This is content of our box</p>
					<button class="btn btn-light">Click!</button>
				</div>
				<div class="card-footer text-center">Footer</div>
			</div>
		</div>
		</div> }}

  {{! Урок (навігація, значки) }}
  <hr class="my-5">
  {{! }}

  <div class='row'>
    <div class='col-12 mb-5'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='#' class='nav-link active'>Main</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>Catalog</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>Shop list</a>
        </div>
      </div>
    </div>
    <div class='col-5 me-5'>
      <div class='card'>
        <div class='pt-4 pb-3 px-4'>
          <div class='nav flex-column'>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='/summary' class='nav-link'>Home page</a>
              </div>
            </div>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='#' class='nav-link active disabled'>Bootstrap</a>
              </div>
            </div>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='/skills' class='nav-link'>FAQ page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-6'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>PC та ноутбук</a>
            </li>
            <li class='breadcrumb-item'>
              MacBook
            </li>
          </ol>
        </div>

        <div class='col-12'>
          <button class='btn btn-primary rounded-pill mb-3'>Click me</button>

          <div class='alert alert-dark'>
            <h6 class='mb-2'>Hello world!
              <span class='badge text-bg-warning rounded-pill text-uppercase'>Топ продаж</span>
            </h6>

            <p class='m-0'>This is info</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>