<div>
    {{#with main}}
        <main>
        <section>

            {{> title data='My educationss' big=true}}

            <ul class="ps-5">
            {{#each educations}}
                <li>
                {{name}}

                {{#if isEnd}} (END) {{/if}}

                {{#unless isEnd includeZero=false}}
                    (ще в процесі)
                {{/unless}}
                </li>
            {{/each}}
            </ul>
            {{> title data='My certificates'}}
            <ul class="ps-5">
            {{#each certificates}}
                <li>
                {{name}}
                 (ID:{{id}})
                </li>
            {{/each}}
            </ul>
        </section>
        </main>
    {{/with}}
</div>