{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="py-5">
    <h1>Список сторінок</h1>

    <div class="mt-3 mb-5">Це мій перший публічний проект резюме з різними компонентами та технологіями, над яким я працював відтоді, як я почав навчатися як full-stack розробник.</div>

    <div class="col-3">
        <a href="/summary" class="btn w-100 btn-primary mb-3">Summary</a>
    </div>
    <div class="col-3">
        <a href="/skills" class="btn w-100 btn-primary mb-3">Skills</a>
    </div>
    <div class="col-3">
        <a href="/education" class="btn w-100 btn-primary mb-3">Education</a>
    </div>
    <div class="col-3">
        <a href="/work" class="btn w-100 btn-primary mb-3">Work</a>
    </div>
    <div class="col-3">
        <a href="/person" class="btn w-100 btn-primary mb-3">Person</a>
    </div>
    <div class="col-3">
        <a href="/bio" class="btn w-100 btn-primary mb-3">Bio</a>
    </div>
    <div class="col-3">
        <a href="/program" class="btn w-100 btn-primary mb-3">program</a>
    </div>
    <div class="col-3">
        <a href="/web" class="btn w-100 btn-primary mb-3">Web</a>
    </div>
    <div class="col-3">
        <a href="/js" class="btn w-100 btn-primary mb-3">JS</a>
    </div>
    <div class="col-3">
        <a href="/car" class="btn w-100 btn-primary mb-3">Car</a>
    </div>
    <div class="col-3">
        <a href="/mac" class="btn w-100 btn-primary mb-3">mac</a>
    </div>
    <div class="col-3">
        <a href="/facebook" class="btn w-100 btn-primary mb-3">Facebook</a>
    </div>
    <div class="col-3">
        <a href="/bootstrap" class="btn w-100 btn-primary mb-3">Bootstrap</a>
    </div>
    <div class="col-3">
        <a href="/task21" class="btn w-100 btn-primary mb-3">Task21</a>
    </div>
    <div class="col-3">
        <a href="/task22" class="btn w-100 btn-primary mb-3">Task22</a>
    </div>
    <div class="col-3">
        <a href="/task31" class="btn w-100 btn-primary mb-3">Task31</a>
    </div>
    <div class="col-3">
        <a href="/shophome" class="btn w-100 btn-primary mb-3">Shophome</a>
    </div>
    <div class="col-3">
        <a href="/shoporder" class="btn w-100 btn-primary mb-3">Shoporder</a>
    </div>
    <div class="col-3">
        <a href="/shopcart" class="btn w-100 btn-primary mb-3">Shopcart</a>
    </div>
    <div class="col-3">
        <a href="/shopprofile" class="btn w-100 btn-primary mb-3">Shopprofile</a>
    </div>
    <div class="col-3">
        <a href="/shopreview" class="btn w-100 btn-primary mb-3">Shopreview</a>
    </div>
    <div class="col-3">
        <a href="/shopcatalog" class="btn w-100 btn-primary mb-3">Shopcatalog</a>
    </div>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
Адже наш layout/default.hbs має вже структуру HTML}}