<main>
    <div class="row gy-4">
        <div class="col-12">
            <div class="card">
                <div class="p-4">
                    <div class="nav-item">
                        <a href='#' class='nav-link'>Home</a>
                    </div>
                    <div class="nav-item">
                        <a href='#' class='nav-link'>Link</a>
                    </div>
                    <div class="nav-item">
                        <a href='#' class='nav-link'>Link</a>
                    </div>
                    <div class="nav-item">
                        <a href='#' class='nav-link active disabled'>Disabled</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>